@import "./utils/variables";

* {
    margin: 0;
    padding: 0;
    font-family: 'Shrikhand', 'roboto';
    box-sizing: border-box;
    transition: 0.5s;
}

.body {
    font-family: 'roboto';
}

a {
    text-decoration: none;
    color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
    box-shadow: 0 6px 2px -2px rgba(214, 218, 215, 0.788);
}

img {
    max-width: 100%;
}

.block-location {
    display: flex;
    justify-content: center;
    padding: 4%;
    background-color: #ccc9c762;
    font-weight: bold;
}

.presentation {
    padding: 10%;
    background-color: #ececea60;
    text-align: center;
}

.presentation__explore {
    padding: 3%;
    margin: 7% 20%;
    background: linear-gradient(70deg,$primary-color,$secondary-color);
    border-radius: 20px;
}