.footer {
    background-color: #444444;
    color: white;
    font-size: 14px;
    padding: 4% 5%;
    &__title {
        font-family: 'Shrikhand';
        font-weight: normal;
        font-size: 18px;
        margin: 4% 0%;
    }
    ul {
        list-style: none;
        a {
            color: white;
        }
        li {
            margin-bottom: 5px;
            i {
                margin-right: 16px;
            }
        }
    }
}