.btn {
    padding: 13px;
    margin: 7% 20%;
    background: $btn-color;
    border-radius: $border-rad;
    display: block;
    color: white;
    box-shadow: 1px 2px 4px 2px rgba(214, 218, 215, 0.788);
    height: 45px;
    font-size: 15px;
    text-align: center;
    position: relative;
    z-index :1;

    &:visited {
        text-decoration: none;
        color: white;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background: linear-gradient(170deg,lighten($secondary-color,10), lighten($primary-color,10));
        opacity: 0;
        border-radius: $border-rad;
        z-index: -1;
        transition: opacity 250ms;
        box-shadow: 1px 2px 4px 2px darken($shadow, 10);
    }
}
